<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>mobile-inbox.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F3C760471F1DE9E5004FB46D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3C7605B1F1DE9E5004FB46D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3C760661F1DE9E5004FB46D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
